.list {
  &__group {
    @apply flex gap-[20px];
    &-item {
      @apply px-3;
      font-size: 12px;
      cursor: pointer;
    }
    &-active {
      background-color: #3644d9;
      color: white;
      border-radius: 20px;
    }
  }
}
